.conversor{
    padding: 10px;
    min-width: 300px;
    box-shadow: 10px 4px 8px 10px rgba(0,0,0,0.2);
    background-color: rgba(66, 1, 128, 0.849);
    border-radius: 10px;
    color: rgb(175, 174, 174);
    font-style: italic;
    text-align: center;
    border: none;
    
    
   
}
input{
    
    background-color: #adb2b9; /* Green */
    border: outset;
    color: rgb(20, 13, 13);
    padding: 15px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    transition: 0.2s;
    border-radius: 5px;
    

   
}
input:hover {
    background-color: #9aa1aa;
  }