.linha{
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
}
h1{
  text-align: center;
}

.app{
  margin: auto;
  max-width:900px ;

}
h1{
  font-family: Arial, Helvetica, sans-serif;
  color:  #636d7a;
  font-style:italic;
}